body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: #333;
    color: white;
    padding: 1em;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 2em;
}


.last-section {
    margin-bottom: 65px;
}

.project {
    border: 1px solid #ddd;
    padding: 1em;
    margin-bottom: 1em;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 1em;
}

form input, form textarea {
    padding: 0.5em;
    margin-top: 0.5em;
}

form button {
    margin-top: 1em;
    padding: 0.5em;
    background: #333;
    color: white;
    border: none;
    cursor: pointer;
}

.img-perfil{
    border-radius: 100%;
    width: 150px;
    height: 150px;
    background-color: #333;
}

.img-perfil img {
    position: absolute;
    bottom: 0;
    width: 100%;
}

a:link, a:visited {
	text-decoration: none
}
a:hover {
	text-decoration: underline;
	color: blue;
}
a:active {
	text-decoration: none
}
svg {
    margin-top: 5px;
    height: 14px;
    width: 14px;
}